html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body header {
    background-image: url('../Image/Tikal.jpg');
    background-size: cover;
    background-position: top;
}

body footer {
    background-image: url('../Image/Livington.jpg');
    background-size: cover;
    background-position: bottom;
}

body footer div {
    color: yellow;
}
