@using Microsoft.AspNetCore.Mvc.Localization;
@model IViewLocalizer

<div class="text-center">
    <img id="photo" src="~/Image/William.jpg" alt="William Alexander Hernandez" />
    <h1 class="display-4">@Model["Welcome"]</h1>
    <h2>@Model["Description"]</h2>
</div>