@using Microsoft.AspNetCore.Mvc.Localization;
@using Briefcase.Models;
@inject IViewLocalizer watchResource;
@model Profil;

<div id="homeContainer">
    <div>
        <img id="photo" src="~/Image/William.jpg" alt="William Alexander Hernandez" />
    </div>
    <div>
        <h1>@watchResource["Welcome"]</h1>
    </div>
</div>
<div id="homeText">
    <p>@watchResource["Description"]</p>
</div>
