@using Briefcase.Models
@using Microsoft.AspNetCore.Mvc.Localization;
@model IViewLocalizer;

@{
    var data = ViewData["Forces"] as List<Force>;
}

<div id="forcesSection">
    <div>
        <h1>@Model["My Forces"]</h1>
    </div>
    <div>
        <ul>
            @foreach (var force in data)
            {
                <li>@Model[force.Name]</li>
            }
        </ul>
    </div> 
</div>