@using Briefcase.Models
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer watchResource;
@model Profil;

@{
    ViewData["Forces"] = Model.Forces;

    var skills = new List<Language>
    {
        new Language("Español",10,10,10,10),
        new Language("Inglés",1,1,1,1),
    };

    ViewBag.Languages = skills.Select(s => s.Name).ToArray();
    ViewBag.Levels = skills.Select(s => s.ListeningLevel).ToArray();
}

<div>
    <partial name="_Biography" model="watchResource" />
</div>
<div >
    <partial name="_Formations" model="Model" />
</div>
<div id="aboutMeContainer">
    <div >
        <partial name="_Forces" model="watchResource" />
    </div>
    <div >
        <partial name="_Languages" model="Model" />
    </div>
</div>

<script>
    window.chartData = {
        Languages: @Html.Raw(Json.Serialize(ViewBag.Languages)),
        Levels: @Html.Raw(Json.Serialize(ViewBag.Levels))
        };
</script>
