@using Briefcase.Models
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer watchResource;
@model Profil;

@{
    ViewData["Forces"] = Model.Forces;

}

<div>
    <partial name="_Biography" model="watchResource" />
</div>
<div >
    <partial name="_Formations" model="Model" />
</div>
<div id="aboutMeContainer">
    <div >
        <partial name="_Forces" model="watchResource" />
    </div>
    <div >
        <partial name="_Languages" model="Model" />
    </div>
</div>
